<template class="client-card-template">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">ID</h5>
            <h6 class="card-subtitle mb-2 text-muted">Client Details</h6>
            <p class="card-text firstname">Firstname</p>
            <p class="card-text lastname">lastname</p>
            <p class="card-text address">Address</p>
            <a href="#" class="card-link" id="updateButton" data-bs-toggle="modal" data-bs-target="#updateClientModal" data-UPDATECLIENT="" >update</a>
        </div>
    </div>
</template>