<style>
    .selected {
        color: coral;
        background: #d7e8aa;
    }
</style>

<div class="btn btn-success append-button" data-bs-toggle="modal" data-bs-target="#addClientModal">
    Add client
</div>

<div class="btn btn-success delete-items">
    Delete items id greater than 4
</div>

<div class="client-container d-flex flex-row flex-wrap">

</div>



<div class="modal fade" id="addClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addClientForm" class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">FirstName</label>
                        <input type="text" class="form-control" id="firstname">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Lastname</label>
                        <input type="text" class="form-control" id="lastname">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="submitClient">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="updateClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addClientForm" class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">FirstName</label>
                        <input type="text" class="form-control" id="updatefirstname">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Lastname</label>
                        <input type="text" class="form-control" id="updatelastname">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" id="updateaddress" placeholder="1234 Main St">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="submitUpdateClient">Save changes</button>
            </div>
        </div>
    </div>
</div>


@Html.Partial("ClientCardPartial")

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    var clients;
    var clientIdToUpdate;

    function load() {
        $.ajax({
            url: 'http://localhost:5093/clientapi2/getallclients'
        })
            .done(function (result) {
                clients = result;
                var template = document.querySelector(".client-card-template");
                var parent = document.querySelector(".client-container");

                parent.innerHTML = "";
                result.forEach(function (res) {

                    var clone = template.content.cloneNode(true);

                    clone.querySelector(".card-title").innerHTML = res.id;
                    clone.querySelector(".firstname").innerHTML = res.firstName;
                    clone.querySelector(".lastname").innerHTML = res.lastName;
                    clone.querySelector(".address").innerHTML = res.address;
                    clone.querySelector("a#updateButton").setAttribute("data-clientid", res.id)
                    clone.querySelector("a#updateButton").setAttribute("data-clientname", res.firstName)

                    parent.append(clone);

                });

                console.table(result);
            })
            .fail(function (result) {
                alert("nafail imong request");
            });


    }
    $(document).ready(function () {

        load();

        @* $("#submitClient").click(function (e) {
            e.preventDefault();
            var fnameValue = document.querySelector("input#firstname").value;
            var lnameValue = document.querySelector("input#lastname").value;
            var addressValue = document.querySelector("input#address").value;

            $.ajax({
                url: 'http://localhost:5093/clientapi2/createclient',
                method: "POST",
                data: {
                    firstName: fnameValue,
                    lastName: lnameValue,
                    address: addressValue
                }
            })
            .done(function () {
                load();
            })
            .fail(function (res) {
                alert(res);
            });
        }); *@

        $(".delete-items").click(function (e) {
            e.preventDefault();

            $.ajax({
                url: 'http://localhost:5093/clientapi2/DeleteSomeClients',
            })
            .done(function () {
                load();
            })
            .fail(function (res) {
                alert(res);
            });
        });

        $("#updateButton").click(function (e) {
            e.preventDefault();

            console.log("Iwasclicked")
           
        });

        $("#submitUpdateClient").click(function (e) {
            e.preventDefault();
            var fnameValue = document.querySelector("input#updatefirstname").value;
            var lnameValue = document.querySelector("input#updatelastname").value;
            var addressValue = document.querySelector("input#updateaddress").value;

            $.ajax({
                url: 'http://localhost:5093/clientapi2/updateclient',
                method: "POST",
                data: {
                    id : clientIdToUpdate,
                    clientInfo : {
                        id : clientIdToUpdate,
                        FirstName: fnameValue,
                        LastName: lnameValue,
                        Address: addressValue
                    }
                }
            })
            .done(function () {
                load();
            })
            .fail(function (res) {
                alert(res);
            });
        });

        $(document).on("click", "#updateButton", function (e) {
            e.preventDefault();

            console.log("Iwasclicked2222222")

            var selectedID = $(this).attr("data-clientid");
            clientIdToUpdate = selectedID;
            $("#updatefirstname").val(clients[selectedID].firstName);
            $("#updatelastname").val(clients[selectedID].lastName);
            $("#updateaddress").val(clients[selectedID].address);

            console.table(clients[selectedID]);



        })

    @* $(".append-button").click(function () {
            var template = document.querySelector(".client-card-template");
            var parent = document.querySelector(".client-container");
            var clone = template.content.cloneNode(true);
            parent.append(clone);
            }); *@



    });





    @* $("h1").click(function () {
        if ($(this).hasClass("selected")) {
        $(this).removeClass("selected");
        } else {
        $(this).addClass("selected");
        }
        }) *@

</script>
